$white: #f9f9f9
$black: #1a1a1a

$cont-width: 900px

h1,h2,h3
	margin: 0
	font-weight: 400

h1
	font-size: 2.5em
	font-weight: 100

h2
	font-size: 2em

h3
	font-size: 1.5em
	font-weight: 500
	margin-bottom: .5em

a 
	text-decoration: none
	color: inherit

html, body
	margin: 0
	padding: 0
	overflow-x: hidden

body
	background: $white
	color: $black
	font: 400 18px/1.1em 'Work Sans', sans-serif

.cont
	width: $cont-width
	max-width: calc(100% - 40px)
	margin: 0 auto

#hero
	height: 50vh
	padding: 0 20px
	background: $black
	color: $white
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	flex-direction: column

#github
	position: absolute
	top: 20px
	right: 20px
	width: 30px
	height: 30px
	img
		width: 100%
		height: 100%

#home
	position: absolute
	top: 20px
	left: 20px
	width: 30px
	height: 30px
	color: white

.card
	margin: 10vh 0
	//border-radius: 10px
	background: white
	box-shadow: 0 2px 5px 0 rgb(32 33 36 / 5%), 0 19px 38px 0 rgb(32 33 36 / 4%)
	padding: 40px 30px
	.card__image-wrapper
		width: 100%
		overflow: hidden
		img
			display: block
			max-width: 100%
			//aspect-ratio: 2
			object-fit: contain
			object-position: center
			transition: all .3s
		&:hover
			img
				transform: scale(1.01)
				opacity: 0.7
	p
		margin: 0
